{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/logo pet.png'%}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var countDownDate = new Date("June 30, 2023 23:59").getTime();

        var x = setInterval(function () {

            var now = new Date().getTime();

            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "TODO A MITAD DE PRECIO";
            }
        }, 1000);</script>

    <title>Galería</title>
</head>

<body>
    <div class="container-fluid px-0 overflow-hidden">


        <header>
            <h1>Galería</h1>
        </header>

        <div class="row pb-1">
            <div class="col-md-3  pb-1 position-relative">
                <img src="{% static 'img/collares.webp'%}" alt="collares" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Collares</h3>
                </div>
            </div>
            <div class="col-md-3  pb-1">
                <img src="{% static 'img/galletas.jpeg'%}" alt="galletas" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Galletas</h3>
                </div>
            </div>
            <div class="col-md-3  pb-1">
                <img src="{% static 'img/cama-barril.webp'%}" alt="camas" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Camas</h3>
                </div>
            </div>
            <div class="col-md-3  pb-1">
                <img src="{% static 'img/gorro.jpg'%}" alt="gorros" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Gorros</h3>
                </div>
            </div>
        </div>
        <div class="row pt-0">
            <div class="col-md-3  pb-1">
                <img src="{% static 'img/moños.jpg'%}" alt="moños" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Moños</h3>
                </div>
            </div>
            <div class="col-md-3  pb-1">
                <img src="{% static 'img/hueso.jpg'%}" alt="huesos" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Huesos</h3>
                </div>
            </div>
            <div class="col-md-3  pb-1">
                <img src="{% static 'img/poncho.jpg'%}" alt="ponchos" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Ponchos</h3>
                </div>
            </div>
            <div class="col-md-3  pb-1">
                <img src="{% static 'img/shampoo.jpg'%}" alt="shampoo" class="img-fluid w-100 h-100">
                <div class="carousel-caption">
                    <h3>Shampoo</h3>
                </div>
            </div>
        </div>

        <div class="container row" id="oferta">
            <div class="col-md">
                <h2>Tendremos nuevas ofertas en:</h2>
            </div>
            <div class="col-md">
                <h2 id="demo">
                </h2>
            </div>

        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}